@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background-color: rgb(17, 24, 39);
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}

/* Loader Container */
.loaderContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.336);
  border-radius: 10px;
  z-index: 3;
}

.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: orange;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}

.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}

.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}

.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}

.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}

.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}

.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}

.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}

.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}

.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}

.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}

.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}

@keyframes lds-default {

  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}

/* ######################################## */

#root {
  background-color: rgb(17, 24, 39);
}

.App__header {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  position: sticky;
  top: 0;
  background-color: rgb(17, 24, 39);
  z-index: 5;
  color: white
}

.Header__LOGOContainer {
  height: 75px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  position: relative;
}

.Header__LOGOContainer::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  animation: rotation 2.5s infinite linear;
  box-shadow: rgba(255, 166, 0) 0px 1px 2px 0px, rgba(255, 166, 0) 0px 1px 6px 2px;
  transition: all 0.6s ease-in-out;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Header_appLOGO {
  border-radius: 50%;
  width: 70px;
}

.Header__LOGOContainer:hover .Header_appLOGO {
  animation: none;
}

.appHeader__HamMenu {
  border-radius: 10px;
  box-shadow: rgba(252, 252, 252, 0.25) 0px 1px 1px, rgba(247, 247, 247, 0.13) 0px 0px 1px 1px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  display: none;
  color: white;
}

.appHeader__HamMenu:hover {
  box-shadow: rgba(252, 252, 252, 0.75) 0px 1px 1px, rgba(247, 247, 247, 0.63) 0px 0px 1px 1px;
  cursor: pointer;
  border-radius: 50%;
}

.AppNavbar__Container {
  /* border: 2px solid red; */
  gap: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-right: 1em;
}

.App_navbar {
  /* border: 2px solid white; */
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.AppNavbar__Item {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  border: 1px solid rgba(255, 255, 255, 0.39);
  display: block;
  width: 120px;
  padding: 0.5em;
  border-radius: 0 15px;
  text-align: center;
  color: white;
}

.AppNavbar__Item.active {
  border: 1px solid rgba(255, 166, 0, 0.5);
}

.AppNavbar__Item.active:hover {
  box-shadow: rgba(255, 166, 0, 0.3) 0px 1px 2px 0px, rgba(255, 166, 0, 0.3) 0px 2px 6px 2px;
}

.AppNavbar__Item:hover {
  box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 2px 0px, rgba(255, 255, 255, 0.15) 0px 2px 6px 2px;
  cursor: pointer;
}


.DropDownMenu_Container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.CurrentUserName__FLetter {
  background-color: #1f2937;
  color: orange;
  border-radius: 50%;
  display: block;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
}

.dropDownMENU {
  border: 1px solid rgba(255, 255, 255, 0.24);
  top: 100%;
  width: 300px;
  right: 0px;
  position: absolute;
  border-bottom-left-radius: 5px;
  background-color: rgb(17, 24, 39);
  display: none;
}

.dropDownMENU__Item {
  padding: 0em 0.8em 0em 0.5em;
  height: 60px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.dropDownMENUItem__ICON {
  color: white;
  font-size: 22px;
  color: rgb(255, 166, 0);
}

.dropDownMENU__Item:nth-child(2) {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
}

.dropDownMENU__Item:nth-child(2):hover {
  border-bottom-left-radius: 5px;
}

.dropDownMENU__Item:hover {
  cursor: pointer;
  background-color: #1f2937;
}


.DropDownMenu_Container:hover .dropDownMENU {
  display: block;
}

/* appSection__homePage */
.appSection {
  min-height: calc(100vh - 90px);
  overflow: hidden;
}

.BlogNavigationButton {
  overflow: hidden;
  position: relative;
}

.BlogNavigationButton::before,
.BlogNavigationButton::after {
  position: absolute;
  border-radius: 50px;
  top: 0;
  right: 0;
  content: "Write blog";
  width: 100%;
  height: 100%;
  color: rgb(17, 24, 39);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  transition: all 0.6s ease-in-out;
  z-index: 2;
}

.BlogNavigationButton::after {
  content: "";
  left: 0;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}

.BlogNavigationButton:hover::before {
  animation: buttonBeforeTextAnimation 1s ease-in-out;
  display: flex;
}

.BlogNavigationButton:hover::after {
  animation: buttonAfterTextAnimation 0.6s ease-in-out;
  display: flex;
}

@keyframes buttonAfterTextAnimation {
  from {
    left: 110%;
  }

  to {
    left: 0
  }
}

@keyframes buttonBeforeTextAnimation {
  from {
    top: 110%;
  }

  to {
    top: 0;
  }
}

.appSection__homePage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  color: white;
}

.homePage__PrimaryHeading {
  font-weight: 600;
  color: #fff;
  font-size: 60px;
}

.PrimaryHeading__appName {
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 2px orange;
}

.homePage__SecondaryHeading {
  font-size: 45px;
  font-style: italic;
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 2px #fff;
}

.homePage__buttonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 0em 0.3em;
  min-height: 80px;
}

.homePage__buttons {
  border: none;
  outline: none;
  border-radius: 50px;
  width: 200px;
  font-size: 18px;
  font-weight: 700;
  padding: 0.6em;
  color: rgb(17, 24, 39);
  transition: all 0.3s ease-in-out;
  background-color: #1f2937;
  color: white;
}

.homePage__buttons:nth-child(1) {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.homePage__buttons:hover {
  color: white;
  border: none;
  cursor: pointer;
  background-color: #1f2937;
}


/* appSection__allBlogs */
.appSection__allBlogs {
  padding: 1em;
  position: relative;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 500px));
  justify-content: flex-start;
  gap: 20px;
}

.MYBlogsCards__title {
  text-decoration: none;
  font-size: 22px;
  color: white;
}

.MYBlogsCards__title:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(255, 166, 0);
}

/* User FormContainer */
.userForm__Container {
  background-image: url(./Assets/FormBG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.UserForm {
  background-color: rgb(17, 24, 39);
  width: 450px;
  height: 575px;
  border-radius: 10px;
  position: relative;
}

.UserLogInForm {
  height: 420px;
}

.UserForm__title {
  border-bottom: 1px solid rgba(255, 255, 255, 0.349);
  font-size: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.UserForm__ItemBox {
  width: 90%;
  margin: 20px auto;
  height: 70px;
  position: relative;
  color: white;
}

.UserForm__Item {
  border: none;
  outline: none;
  background-color: #1f2937;
  width: 100%;
  height: 40px;
  padding: 0em 1em;
  border-radius: 5px;
  font-weight: 400;
  color: white;
}

.UserForm__Item:focus {
  border: 1px solid rgba(255, 255, 255, 0.404);
  outline: none;
}

.UserForm__Item::placeholder {
  color: hsl(231, 100%, 99%);
  font-weight: 500;
}

.UserForm__ItemError {
  font-weight: 400;
  font-style: italic;
  color: hsl(354, 84%, 57%);
  font-size: 15px;
  display: block;
  margin-top: 3px;
  padding-left: 1em;
}

.UserForm__ItemErrorICON {
  position: absolute;
  color: hsl(354, 84%, 57%);
  top: 11.5px;
  right: 10px;
  animation: beat 0.5s ease infinite;
}

.UserForm__PassItemICON {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 4px;
  right: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
  cursor: pointer;
  color: white;
}

.UserForm__ErrorStateITEM {
  border: 1px solid hsl(354, 84%, 57%) !important;
}

@keyframes beat {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.UserForm__ButtonBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 60px;
  margin: 10px auto;

}

.UserForm__ItemButton {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.644);
  padding: 0.4em;
  width: 140px;
  border-radius: 20px;
  font-size: 18px;
  color: white;
}

.UserForm__ItemButton:hover {
  border: none;
  cursor: pointer;
  background-color: #1f2937;
}

.UserForm__ItemButton:nth-child(1) {
  background-color: #1f2937;
  border: none;
}

.UserForm__ItemButton:nth-child(1):hover {
  border: 1px solid rgba(255, 255, 255, 0.726);
  background-color: transparent;
}

.UserForm__forgotLINK {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: rgb(110, 79, 248);
  letter-spacing: 2px;
}

.UserForm__itemLINKBox {
  margin: 20px auto;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.UserForm__itemLINK {
  margin-left: 10px;
  text-decoration: none;
  color: rgb(110, 79, 248);
  font-weight: 500;
  font-size: 18px;
}

.UserForm__forgotLINK:hover,
.UserForm__itemLINK:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Readblog dynamic section */
.AppSection__readBlogs {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.readBlogs__title {
  width: 100%;
  color: white;
  font-size: 40px;
  font-weight: 700;
  padding: 0em 1em;
  margin: 15px 0px 10px 0px;
}

.readBlogs__blogInfoContainer {
  width: 100%;
  padding-left: 2em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.readBlogs__authorName {
  display: block;
  min-width: 130px;
  color: white;
  text-align: center;
  padding: 0.4em;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  background-color: #1f2937;
}

.readBlogs__category {
  color: lightgoldenrodyellow;
  font-size: 13px;
  font-weight: 500;
  margin-left: 10px;
}

.readBlogs__createdAt {
  color: lightgrey;
  font-size: 12px;
  font-weight: 400;
}

.readBlogs__posterContainer {
  width: 45em;
  height: fit-content;
  margin: 30px 0px;
}

.readBlogs__poster {
  object-fit: cover;
  width: 100%;
  max-height: 450px;
}

.readBlog__desc {
  width: 100%;
  margin-bottom: 10px;
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  padding: 0em 3em;
}

.readBlog__desc h2 {
  padding-top: 1em;
  margin-bottom: 5px;
  width: 95%;
  border-top: 1px solid rgba(255, 255, 255, 0.568);
  font-size: 28px;
}

.readBlog__desc a {
  text-decoration: underline;
  color: white;
}

.readBlog__desc p {
  font-weight: 400;
  font-size: 17px;
  text-align: justify;
}

.readBlog__desc ul {
  margin: 20px 0px;
}

.readBlog__desc ul li {
  margin: 10px 0px;
}

.readBlog__CommentSections {
  margin: 20px 0px;
  width: 95%;
  min-height: 200px;
}

.commentSections__CommentCounter {
  color: white;
  padding: 1em 1em 1em 0em;
  font-size: 18px;
  font-weight: 600;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.commentSections__blogLikeButton{
font-size: 20px;
}

.commentSections__form {
  margin: 10px auto;
  width: 70%;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  position: relative;

}

.commentForm__itemBox {
  margin: 10px 0px;
  width: 100%;
  height: 50px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.commentForm__itemBox .UserForm__Item {
  height: 100%;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.readBlogs__PostCommentButton {
  position: relative;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  top: 0;
  right: 0;
  height: 100%;
  width: 150px;
  font-weight: 600;
  font-size: 18px;
  background-color: rgb(49, 160, 92);
  color: white;
}

.readBlogs__PostCommentButton:hover {
  cursor: pointer;
  background-color: rgb(25, 150, 73);
}

.commentForm__itemBox_errMessage {
  position: absolute;
  top: 65px;
  left: 10px;
  color: hsl(354, 84%, 57%);
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
}

.newComments__CharacterLimit {
  color: white;
  width: 150px;
  height: calc(100% - 75px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  background-color: #1f2937;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.commentSections__AllCommentsBox {
  min-height: 150px;
  width: 70%;
  margin: 30px auto;
  position: relative;
}

.commentSections__AllCommentsBox .loaderContainer {
  background-color: transparent;
}

.commentSections__NOcomment_MSG {
  color: white;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  padding: 1em 0.5em;
}

.AllCommentBox__oldComments {
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.274);
  min-height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 0.5em;
  position: relative;
  word-wrap: normal;
}

.OldComments__userInformation {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-left: 1em;
  position: relative;
}

.OldComments__deleteButton {
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 0.5em;
  color: hsl(354, 84%, 57%);
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.OldComments__deleteButton:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: hsla(354, 84%, 57%, 0.822);
}

.OldComments__userICON {
  width: 50px;
  height: 50px;
  color: white;
  background-color: #1f2937;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
}

.OldComments__userName {
  color: white;
  font-size: 16px;
}

.OldComments__creationDate {
  color: lightslategrey;
  font-size: 14px;
  margin-left: 20px;
}

.OldComments__content {
  color: white;
  font-size: 17px;
  padding: 0.5em;
  width: 100%;
  text-align: justify;
  word-break: break-all;
  width: 100%;
}

/* User Dashboard Container */
.dashboardContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.Dashboard__sidebar {
  width: 250px;
  position: relative;
  left: 0;
  background-color: #1f2937;
  height: 100%;
}

.Dashboardsidebar__LogoContainer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.267);
  height: 150px;
  margin-bottom: 10px;
  display: flex;
}

.Dashboardsidebar__Logo {
  width: 90px;
  margin: auto;
}

.DashboardSidebar_links {
  width: 100%;
  padding-left: 0.6em;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  position: relative;
  color: white;
}

.DashboardSidebar_links.active {
  background-color: rgb(17, 24, 39);
}

.DashboardSidebar_links.active::before {
  border: none;
}

.DashboardSidebar_links::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 99.5%;
  height: 100%;
  content: "";
  border: 1px solid rgba(255, 255, 255, 0.185);

}

.DashboardSidebar_links:hover {
  cursor: pointer;
  background-color: rgb(17, 24, 39);
}

.DashboardSidebar_links:hover::before {
  border: none;
}

.DashboardSidebar__button {
  position: absolute;
  bottom: 20px;
  border-radius: 50px;
  border: none;
  display: block;
  width: 100%;
  background-color: rgb(17, 24, 39);
  font-size: 18px;
  padding: 0.6em;
  outline: 1px solid rgba(255, 255, 255, 0.281);
  color: white;
}

.DashboardSidebar__button:hover {
  cursor: pointer;
  outline: none;
}

.Dashboard__outletContainer {
  /* border: 2px solid red; */
  color: white;
  height: 100%;
  width: calc(100% - 250px);
  position: relative;
}

.Dashboard_outletContainer__heading {
  border-bottom: 1px solid rgba(255, 255, 255, 0.384);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6em;
  font-weight: 500;
  font-size: 22px;
  position: relative;
  color: white;
}

.Dashboard__greetingMSG {
  font: 20px;
  font-weight: 400;
  margin-right: 10px;
  color: white;
}

.Dashboard__hamMENU {
  border-radius: 50%;
  background-color: #1f2937;
  position: absolute;
  right: 10px;
  height: 40px;
  width: 40px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
  color: white;
}

/* Dashboard__section */

.Dashboard__section {
  height: calc(100% - 55px);
}

.DashboardSection__forgotPassword {
  display: flex;
  align-items: center;
  justify-content: center;
}

.DashboardSection__forgotPassword .forgotPassword__form {
  border: 1px solid rgba(255, 255, 255, 0.144);

}

.DashboardSection__profile {
  overflow: auto;
  padding: 1em;
  position: relative;
  display: flex;
}

.profileSection__navigateButton {
  border: none;
  outline: none;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 150px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 10px;
  padding: 0.6em;
  background-color: #1f2937;
  color: white;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
}

.profileSection__navigateButton::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transition: all 0.6s ease-in-out;
}

.profileSection__navigateButton:hover {
  cursor: pointer;
  background-color: transparent;
}

.profileSection__navigateButton:hover::before {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  transition: all 0.6s ease-in-out;
}

.ProfileSection__infoContainer {
  border-radius: 10px;
  padding: 0.5em;
  width: 100%;
  margin: auto;
}

.infoContainer__userInitials {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 25px;
  background-color: #1f2937;
}

.infoContainer__infoRows {
  margin: 20px auto;
  width: 80%;
  padding: 0.3em 0.5em;
}

.infoContainer__infoLabel {
  display: block;
  font-size: 18px;
}

.inforContainer__deleteButton {
  border: none;
  outline: none;
  display: block;
  margin: auto;
  width: 320px;
  background-color: hsl(354, 84%, 57%);
  color: white;
  font-size: 18px;
  padding: 0.4em 1em;
  border-radius: 50px;
}

.inforContainer__deleteButton:hover {
  cursor: pointer;
  background-color: hsla(354, 84%, 57%, 0.822);
}

.infoContainer__info {
  margin: 10px 0px;
  display: block;
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 0.2em 1em;
  background-color: #1f29373a;
  border-radius: 5px;
}


.ProfileSection__cardContainer {
  margin: 10px 0px;
  border: 2px solid rgba(255, 255, 255, 0.199);
  border-radius: 10px;
  width: 100%;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(2, 0.3fr);
  justify-content: space-evenly;
  gap: 20px;
  align-items: center;
}

.ProfileSection__cards {
  border: 2px solid rgba(255, 255, 255, 0.151);
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 0.5em;
  border-radius: 10px;
  transition: background 0.5s ease-in-out;
}


.ProfileSection__cards:hover {
  cursor: grab;
  border: none;
  background-color: #1f2937;
}

.ProfileSectionCards__title {
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.ProfileSectionCards__Number {
  font-size: 18px;
  font-weight: 400;
  color: orange;
}

/* My Blogs  */
.DashboardSection__myBlogs {
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 500px));
  justify-content: center;
  gap: 20px;
  padding: 1em 0em;
}

.Myblogs__Cards {
  border-radius: 15px;
  border: 2px solid rgba(255, 255, 255, 0.226);
  width: 100%;
  height: 400px;
}

.MyBlogsCards__headerContainer {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #1f2937;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-left: 1em;
  position: relative;
}


.MyBlogsCard__AuthorProfile {
  background-color: rgb(17, 24, 39);
  width: 45px;
  height: 45px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.MyBlogsCard__blogAuthorBox {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  height: 45px;


}

.MyBlogsCard__author {
  font-weight: 600;
  font-size: 18px;
}

.MyBlogsCard__publishDate {
  color: lightgray;
  font-weight: 400;
  font-size: 14px;
}

.MyBlogsCard__OptionsContainer {
  height: 100%;
  position: absolute;
  top: 0;
  right: 10px;
  display: flex;
  cursor: pointer;
}

.MyBlogsCard__OptionsICON {
  margin: auto;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.MyBlogsCard__OptionsContainer:hover .MyBlogsCard__OptionsICON {
  border-radius: 50%;
  background-color: rgb(17, 24, 39);
}

.MyBlogsCard__OptionsDropDown {
  border: 1px solid rgba(255, 255, 255, 0.225);
  position: absolute;
  background-color: rgb(17, 24, 39);
  top: 100%;
  right: -10px;
  height: 180px;
  width: 250px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  list-style: none;
  display: none;
  z-index: 2;
}

.MyBlogsCard__Option {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.MyBlogsCard__Option:nth-child(3) {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.MyBlogsCard__OptionLINKS {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
  padding: 0em 1em;
  font-size: 17px;
  color: white;
}

.MyBlogsCard__OptionICON {
  font-size: 14px;
  color: orange;
}

.MyBlogsCard__Option:hover {
  cursor: pointer;
  background-color: #1f2937;
}

.MyBlogsCard__OptionsContainer:hover .MyBlogsCard__OptionsDropDown {
  display: block;

}

.MyBlogsCards__posterContainer {
  height: 280px;
  overflow: hidden;
  position: relative;
}

.MyBlogsCards__blogTitle {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 22px;
  width: 100%;
  padding: 0.5em;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}
.MyBlogsCards__blogTitle:hover{
  cursor: pointer;
  text-decoration:underline;

}


.MyBlogsCards__Poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.6s ease-in-out;
  filter: contrast(100%) brightness(60%);
}

.MyBlogsCards__detailsContainer {
  background-color: #1f2937;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: calc(100% - 350px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 2em;
}

.MyBlogsCards__Reactions {
  font-weight: 400;
  font-size: 18px;
}

.MyBlogsCards__ReactionsICON {
  color: hsl(354, 84%, 57%);
  font-size: 20px;
  margin-right: 10px;
}

.MyBlogsCards__CommentsICON {
  font-size: 20px;
  margin-right: 10px;
}

.Myblogs__Cards:hover .MyBlogsCards__Poster {
  transform: scale(1.1);
  z-index: 1;
}

/* DashboardSection__createBlog */

.DashboardSection__createBlog {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 1em 0em;
  overflow: auto;
  color: white;
}

.CreateBlogPost__form {
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.199);
  width: 90%;
}

.BlogPost__formITemBox {
  width: 98%;
  margin: 10px auto;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 0em 1em;
  position: relative;
}

.BlogPost__requireError {
  position: absolute;
  top: 10px;
  right: 22px;
  font-weight: 700;
  color: hsl(354, 84%, 57%);
  font-style: italic;
  font-size: 15px;
}

.BlogPost__editiorContainer {
  width: 95%;
  position: relative;
  margin: 10px auto;
}

.CreateBlogPost__editor .ql-toolbar {
  background-color: white;
}

.BlogPost__formButtonContainer {
  margin-top: 3.5em;
  margin-bottom: 1em;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid rgba(255, 255, 255, 0.24);
}

.BlogPost__publishButton {
  border: none;
  outline: none;
  width: 250px;
  font-size: 18px;
  font-weight: 600;
  padding: 0.5em;
  background-color: rgb(59, 188, 108);
  color: white;
  border-radius: 10px;
}

.BlogPost__publishButton:hover {
  cursor: pointer;
  background-color: rgb(49, 160, 92);
}

/* No BLog Post Design */
.BlogApp__emptyPosts {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.emptyPosts__title {
  font-size: 3em;
  color: white;
  width: 100%;
  padding: 0em 0.5em;
  text-align: center;
}

.emptyPosts__button {
  border: none;
  border-radius: 50px;
  outline: none;
  width: 300px;
  font-size: 18px;
  font-weight: 800;
  padding: 0.6em;
  background-color: #1f2937;
  color: white;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}


/* Forgot password container */
.forgotPasswodForm__container {
  background-color: rgba(255, 255, 255, 0.164);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}

.forgotPassword__form {
  width: 450px;
  height: 450px;
  border-radius: 10px;
  background-color: rgb(17, 24, 39);
  position: relative;
  z-index: 2;
}

.forgotPasswordform__heading {
  border-bottom: 1px solid rgba(255, 255, 255, 0.308);
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 400;
  padding: 0.3em 0em;
}

/* POPUp comment Box Container */

.BlogComment__popupContainer {
  border: 2px solid red;
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  height: 100dvh;
  background-color: #1f293737;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.BlogComment__Popup {
  width: 450px;
  height: 650px;
  background-color: rgb(17, 24, 39);
  box-shadow: rgba(255, 255, 255, 0.16) 0px 1px 4px;
}

.BlogComment__Popup_heading {
  border-bottom: 1px solid rgba(255, 255, 255, 0.39);
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0em 0.5em;
}

.PopupCloseButton {
  font-size: 22px;
}

.PopupCloseButton:hover {
  cursor: pointer;
  color: hsl(354, 84%, 57%);
}

.BlogComment__Popup_CommentBox {
  height: calc(100% - 50px);
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  padding: 0.5em 0em;
}

.BlogComment__Popup__Comment {
  border-bottom: 1px solid rgba(255, 255, 255, 0.301);
  padding: 0em 0.5em;
  min-height: 110px;
  margin-bottom: 10px;
}

.BlogComment__Popup__Comment .OldComments__userInformation {
  padding: 0;
}

/* Footer */

.appFooter {
  border-top: 1px solid rgba(255, 255, 255, 0.26);
  background-color: transparent;
  min-height: 70px;
  background-color: #1f2937;
}

@media screen and (max-width: 1052px) {
  .appSection__allBlogs {
    justify-content: center;

  }
}

@media screen and (max-width: 851px) {
  .Dashboard__hamMENU {
    display: flex;
    z-index: 4;
  }

  .Dashboard__outletContainer {
    width: 100%;
  }

  .DashboardMobile__Sidebar {
    display: none;
  }

  .Dashboard__sidebar {
    position: absolute;
    left: 0;
    z-index: 3;
    width: 320px;
    animation: slideINSidebar 0.5s ease-in-out;
  }

  @keyframes slideINSidebar {
    from {
      left: -400px;
    }

    to {
      left: 0;
    }

  }

  .Dashboard_outletContainer__heading {
    justify-content: flex-start;
    font-size: 20px;
  }

  .Dashboard__greetingMSG {
    font: 18px;
    margin-right: 5px;
  }

  .appSection__allBlogs {
    justify-content: center;
  }
}

@media screen and (max-width : 769px) {
  .readBlogs__posterContainer {
    width: 100%;
    padding: 0em 1em;
  }

  .readBlog__desc {
    padding: 0em 1em;
  }

  .readBlog__desc h2 {
    width: 100%;
  }

  .readBlogs__title {
    padding: 0em 0.5em;
    font-size: 30px;
  }

  .homePage__PrimaryHeading {
    font-size: 7vw;
  }

  .homePage__SecondaryHeading {
    font-size: 5vw;
  }

  .readBlogs__blogInfoContainer {
    padding-left: 1em;
  }

  .ProfileSectionCards__title {
    font-size: 2.5vw;
  }

  .commentSections__form,
  .commentSections__AllCommentsBox {
    width: 100%;
  }
}


@media screen and (max-width: 550px) {
  .DashboardSection__myBlogs {
    grid-template-columns: repeat(1, 95%);
  }

  .infoContainer__info {
    font-size: 4vw;
  }

  .infoContainer__infoRows {
    width: 100%;
  }

  .inforContainer__deleteButton {
    width: 90%;
  }

  .appSection__allBlogs {
    padding: 1em 0em;
    grid-template-columns: 95%;
    justify-content: center;

  }

  .appSection__allBlogs .Myblogs__Cards .MYBlogsCards__title {
    font-size: 20px;
  }
}

@media screen and (max-width: 499px) {
  .appHeader__HamMenu {
    display: flex;
  }

  .mobileNavbar {
    display: none;
  }

  .App_navbar {
    box-shadow: rgba(255, 255, 255, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    background-color: rgb(17, 24, 39);
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
  }

  .dropDownMENU {
    z-index: 2;
  }

  .homePage__PrimaryHeading {
    text-align: center;
    padding: 0em 0.1em;
    font-size: 12vw;
  }


  .homePage__SecondaryHeading {
    font-size: 10vw;
    text-align: center;
    width: 95%;
  }

  .ProfileSection__cardContainer {
    grid-template-columns: repeat(2, 0.5fr);
  }

  .ProfileSectionCards__title {
    font-size: 5vw;
  }

  .forgotPassword__form {
    width: 95%;
  }
}

@media screen and (max-width: 451px) {
  .UserForm {
    width: 95%;
  }

  .Dashboard__sidebar {
    width: 100%;
  }

  .OldComments__content,
  .readBlog__desc {
    text-align: left;
  }

  .newComments__CharacterLimit {
    width: 100px;
  }
}